body {
    font-family: 'Lato', sans-serif; 
    margin: 0 100px;
}

    
/* START OF RULES - all working - do not change this section */    
    .rule-book-img {
        margin-top: 25px;          
        height: 150px;
        width: 150px;
        border-color: #818182;
        border-style: solid;
        border-radius: 15%;
            
        }
    .centre-img-text {
        text-align: center;
        width: 150px;
    } 

/* END OF RULES - all working - do not change this section */ 