body {
    font-family: 'Lato', sans-serif; 
    margin: 50px 200px;
}

.img-fluid {
    width:100%;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.red {
    color: red;
}

.word-page {
    margin: 150 0; 
    display: block;
}

.word-page h1 {
    font-size: large; 
    color: blue;
}

.block-divider {
    background-color: blue;
}

.header-title{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 150px;
    color: #fff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.header-text{
    position: absolute;
    top: 75%;
    left: 50%;
    font-size: 25px;
    color: #fff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}